<div class="row row-cols-1 row-cols-md-4 g-4">

  <div class="col">
    <div class="card mb-2 text-center">
      <img src="..."
           class="card-img-top"
           alt="...">
      <div class="card-body">
        <h5 class="card-title">Primero</h5>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-2 text-center">
      <img src="..."
           class="card-img-top"
           alt="...">
      <div class="card-body">
        <h5 class="card-title">Segundo</h5>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-2 text-center">
      <img src="..."
           class="card-img-top"
           alt="...">
      <div class="card-body">
        <h5 class="card-title">Tercero</h5>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-2 text-center">
      <img src="..."
           class="card-img-top"
           alt="...">
      <div class="card-body">
        <h5 class="card-title">Cuarto</h5>
      </div>
    </div>
  </div>
</div>
